{% extends 'accordion/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'accordion/css/style.css' %}">
{% endblock css %}
{% block content %}
<div class="wrapper col-12">
    <div class="d-flex flex-column justify-content-start align-items-center py-5 col-lg-8 mx-auto">
        <h1 class="mb-5">Hi, I am <u>Gani</u> !</h1>
        <div class="accordion col-md-10 p-0 mt-2 accordion-1" id="accor1">
            <div class="header d-flex justify-content-between align-items-center">
                <h2 class="pl-4 py-2 title col-9 mb-0">Introduction</h2>
                <div class="buttons d-flex justify-content-end justify-content-end col-3 p-0">
                    <div class="up p-2 d-flex align-items-center justify-content-center col-6"><h2>&uarr;</h2></div>
                    <div class="down p-2 d-flex align-items-center justify-content-center col-6"><h2>&darr;</h2></div>
                </div>
            </div>
            <div class="content">
                <p class="px-4 py-3 m-0">Hi, I’m Gani Ilham Irsyadi - a student in the Faculty of Computer Science at University of Indonesia.</p>
                <p class="px-4 py-3 m-0">I create hand-coded websites and web applications for my clients. Interested?</p>
            </div>
        </div>
        <div class="accordion col-md-10 p-0 mt-2 accordion-2" id="accor2">
            <div class="header d-flex justify-content-between align-items-center">
                <h2 class="pl-4 py-2 title col-9 mb-0">Current Activities</h2>
                <div class="buttons d-flex justify-content-end col-3 p-0">
                    <div class="up p-2 d-flex align-items-center justify-content-center col-6"><h2>&uarr;</h2></div>
                    <div class="down p-2 d-flex align-items-center justify-content-center col-6"><h2>&darr;</h2></div>
                </div>
            </div>
            <div class="content">
                <div class="px-4 py-3 m-0">
                    <p>Just staying at home because of this outbreak. I am also:</p>
                    <ul class="m-0">
                        <li>Doing online Learning</li>
                        <li>Working on some projects</li>
                        <li>Cycling once / twice a week</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion col-md-10 p-0 mt-2 accordion-3" id="accor3">
            <div class="header d-flex justify-content-between align-items-center">
                <h2 class="pl-4 py-2 title col-9 mb-0">Experiences</h2>
                <div class="buttons d-flex justify-content-end col-3 p-0">
                    <div class="up p-2 d-flex align-items-center justify-content-center col-6"><h2>&uarr;</h2></div>
                    <div class="down p-2 d-flex align-items-center justify-content-center col-6"><h2>&darr;</h2></div>
                </div>
            </div>
            <div class="content">
                <div class="px-4 py-3 m-0">
                    <ul class="m-0">
                        <li>Web Developer at Pesta Rakyat Komputer event</li>
                        <li>Staff at BEM Fakultas Ilmu Komputer Universitas Indonesia</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion col-md-10 p-0 mt-2 accordion-4" id="accor4">
            <div class="header d-flex justify-content-between align-items-center">
                <h2 class="pl-4 py-2 title col-9 mb-0">Achievements</h2>
                <div class="buttons d-flex justify-content-end col-3 p-0">
                    <div class="up p-2 d-flex align-items-center justify-content-center col-6"><h2>&uarr;</h2></div>
                    <div class="down p-2 d-flex align-items-center justify-content-center col-6"><h2>&darr;</h2></div>
                </div>
            </div>
            <div class="content">
                <p class="px-4 py-3 m-0">For me, these are my achievements :</p>
                <div class="px-4 py-3 m-0">
                    <ul class="m-0">
                        <li>Be a Student of Fasilkom</li>
                        <li>Join organitation and comittee while i was in college</li>
                        <li>Make some friends</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion col-md-10 p-0 mt-2 accordion-5" id="accor5">
            <div class="header d-flex justify-content-between align-items-center">
                <h2 class="pl-4 py-2 title col-9 mb-0">Contact Me</h2>
                <div class="buttons d-flex justify-content-end col-3 p-0">
                    <div class="up p-2 d-flex align-items-center justify-content-center col-6"><h2>&uarr;</h2></div>
                    <div class="down p-2 d-flex align-items-center justify-content-center col-6"><h2>&darr;</h2></div>
                </div>
            </div>
            <div class="content">
                <div class="px-4 py-3 m-0 d-flex flex-column">
                    <div class="d-flex">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1200px-Instagram_logo_2016.svg.png" height="30" width="30" class="mr-2">
                        <h4><a href="https://www.instagram.com/ganiirsyadi/">Instagram</a></h4> 
                    </div>
                    <div class="d-flex mt-2">
                        <img src="https://www.stickpng.com/assets/images/58e91afdeb97430e81906504.png" height="30" width="30" class="mr-2">
                        <h4><a href="https://www.linkedin.com/in/gani-ilham-irsyadi-a81418184/">LinkedIn</a></h4> 
                    </div>
                </div>
            </div>
        </div>
        <div class="change-theme d-flex align-items-center mt-4">
            <h4 class="mr-2">Dark Mode</h4>
            <input type="checkbox" hidden="hidden" id="theme">
            <label class="switch" for="theme"></label>
        </div>
    </div>
</div>
<script src="{% static 'accordion/js/main.js' %}"></script>
{% endblock content %}