{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Meta -->
  <meta name="images" content="{% static 'books/images/' %}">
  <meta name="index" content="{% url 'books:index' %}">
  <meta name="csrf" content="{{ csrf_token }}">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Personal CSS -->
  <link rel="stylesheet" href="{% static 'books/css/style.css' %}">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&display=swap" rel="stylesheet">

  <title>Book Search</title>
</head>

<body class="">
  <!-- Modal -->
  <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Top 5 Favorite Books</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Ajax Content -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Modal -->
  <div class="container px-md-5 py-5 px-3">
    <a href="{% url 'books:index' %}" class="text-dark text-decoration-none">
    <h2>Search a Book</h2></a>
    <div class="input-group mb-1 col-md-7 px-0">
      <input type="text" class="form-control input-keyword" placeholder="Book's title" aria-label="Book's title"
        aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary btn-search text-dark search-button" type="button" id="button-addon2">
          Search
        </button>
      </div>
    </div>
    <button type="button" class="btn btn-outline-secondary col-md-7 mb-3 btn-modal" data-toggle="modal"
      data-target="#exampleModalScrollable">
      Top 5 Favorite Books
    </button>
    <div class="d-flex flex-column content">
      <div class="d-flex flex-column justify-content-center col-md-7 mt-5">
        <h3 class="text-center px-2">"That's the thing about books. They let you travel without moving your feet."</h3>
      </div>
      <!-- Ajax Content -->
    </div>
  </div>
  <footer class="bg-dark text-center text-white d-flex align-items-center justify-content-center">
    <p class="text-disabled m-0">&copy; 2020 Copyright</p>
  </footer>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <!-- Optional JavaScript -->
  <script src="{% static 'books/js/script.js' %}"></script>
</body>

</html>